// Colors

$color-1: #A53030; // Dark red
$color-2: #0e0e0e; // Black
$color-3: #917050; // Bronze brown
$color-4: #797979; // Light grey
$color-5: #ffffff; // White

$sm-break: 48em;
$big-break: 49em;

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Raleway&display=swap');

//Mixin for sizing
@mixin size($w: 100%, $h: 100%) {
    width: $w;
    height: $h;
}

// Fonts
$primary-font: 'Merienda',cursive;
$secondary-font: 'Raleway',sans-serif;

// Images
$header:"./assets/Header.png";
$background:"./assets/Body_back_idea.jpg";
$koi:"./assets/Koi.png";

// Top black Line
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 75% georgia, sans-serif;
}

.page-wrapper{
    width: 70%;
    margin: auto;
    position: relative;
    top: 8vmin;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

// Header

section {
    height: 400px;
    display: block;
    margin: 0 -8vw;
    padding: 13vw;
	background: url($header) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

header h1 {
	color: lighten($color-2, 30%);
	font-size: 100%;
	font-family: $secondary-font;
    position: relative;
}

header h2 {
	position: absolute;
	font-size: 100%;
	color: lighten($color-2, 20%);
	font-family: $secondary-font;
	top: 5%;
	left: 55%
}

// Gate

//.upper
.extra1 {
    position: absolute;
    left: 1vmin;
    top: 0;
    z-index: 20;
    @include size(95vw, 5vmin);
    background-color: $color-2;
    border-radius: 1vmin 1vmin 10vmin 10vmin;
    
}

.extra2 {
    border-radius: 1vmin 1vmin 10vmin 10vmin;
    z-index: 15;
    position: absolute;
    background-color: $color-1;
    @include size(92vw, 5vmin);
    top: 3vmin;
    left: 2vw;
}

.extra3, .extra4 {
    position: fixed;
    @include size(7vmin, 100vh);
    background-color: $color-1;
    bottom: 0;
}

.extra3 {
    left: 6vw;
    z-index: -3;
}

.extra4 {
    right: 6.5vw;
    z-index: -3;
}

.extra5 {
    display: none;
    position: absolute;
    left: 1vmin;
    top: 20vw;
    z-index: 20;
    @include size(95vw, 5vmin);
    background-color: $color-1;
    border-radius: 1vmin 1vmin 10vmin 10vmin;
}

// Grid //

.supporting {
    display: flex;
    flex-direction: column;
    row-gap: 20vw;
}

section {
    grid-column: 1 / span 12;
    grid-row: 1;
}

aside {
    grid-column: 1 / span 12;
    grid-row: 2;
}

.main {
    grid-column: 1 / span 12;
    grid-row: 3;
}

.preamble{
    margin-top: 5vw;
}

.explanation {
    grid-area: 1 / 1 / 2 / 2;
}

.participation {
    grid-area: 2 / 2 / 2 / 3;
}

.benefits {
    grid-area: 3 / 1 / 4 / 2;
}

.requirements {
    grid-area: 4 / 2 / 5 / 3;
}
// Nav Bar //

@keyframes showmenu {
    from {display: none;}
    to {display: inline-block;}
}

header h1 {
	font-size: 350%;
}

header h2 {
	font-size: 130%;
}

.wrapper::before {
    content: " ";
    display: block;
    @include size(50px, 50px);
    background-image: url(https://img.icons8.com/ios-filled/50/ffffff/menu-squared-2.png);
    margin: 0 auto;
}

.wrapper div{
    display: none;
}

.wrapper:hover div{
    display: block;
}

.wrapper h3{
    display: inline-block;
    color: $color-5;
    text-align: center;
}

.wrapper {
    overflow: hidden;
    background-color: $color-1;
    color: white;
    margin-left: -13vw;
    margin-right: -13vw;
    z-index: 300;
    border-radius: 10vmin 10vmin 1vmin 1vmin;
    padding: 1rem;
}

.wrapper a{
    color: white;
    text-decoration: none;
}

.select::after, .archives::after, .resources::after{
    content: "   +";
}

.select:hover::after, .archives:hover::after, .resources:hover::after{
    content: "   -";
}

.resources+ul, nav {
    display: none;
    margin-top: -5vw;
}

h3:hover+nav, h3:hover+ul, nav:hover, ul:hover {
    display: block;
    opacity: 1;
}

nav, h3+ul {
    //position: absolute;
    background-color: $color-2;
    padding: 1rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 

ul {
    list-style: none;
}

h3+ul {
    padding: 2em;
}

 // swimming koi
 @keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

//Background
body::before {
	content: "";
	background: url($background) no-repeat bottom right;
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -8;
	opacity: 60%;
	top: 0;
}
body::after {
	content: "";
	background: url($koi) no-repeat;
	background-size:contain;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -7;
	opacity: 20%;
	top: 0;
	animation: spin 70s linear infinite;
}

// Text details

p {
	margin-top: 0;
	text-align: justify;
	font-family: $secondary-font;
    position: relative;
    z-index: 1;
    font-size: 100%;
    a:link {
        font-weight: bold;
        text-decoration: none;
        color: $color-3;
    }
    a:hover,
    a:focus,
    a:active {
	text-decoration: underline;
	color: $color-4;
}
}

h3 {
    font-family:'Times New Roman', Times, serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: $color-3;
    position: relative;
    z-index: 1;
    font-size: 110%;  
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: $color-5;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: $color-4;
}


//Footer

footer {
    width: 100%;
    grid-area: 6 / 1 / 6 / 3;
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;

	a {
		background: $color-3;
		padding: 1em;
		border-radius: 20%;
	}

	a:hover {
		color: $color-2;
	}
}

@media only screen and (min-width:575px) {
    .wrapper{
        display: flex;
        justify-content: space-between;
        padding: 2vw 10vw;
    }

    .wrapper div{
        display: flex;
        text-align: left;
    }

    .wrapper::before {
        content: " ";
        display: none;
    }

    nav {
        margin-top: 0.01vw;
        padding-top: 2vw;
    } 
.supporting {
    display: grid;
    grid-template: repeat(6, 25%) / repeat(2, 50%);
    row-gap: .5em;
}
    .zen-resources {
        text-align: right;
    }

    .resources+ul {
        margin-top: 0.01vw;
    }
    p {
        font-size: 130%;
    }
    
    h3 {
        font-size: 200%;  
    }
}
