// Colors

$color-1: #A53030; // Dark red
$color-2: #000000; // Black
$color-3: #917050; // Bronze brown
$color-4: #797979; // Light grey
$color-5: #ffffff; // White

$sm-break: 48em;
$big-break: 49em;

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Raleway&display=swap');


// Fonts
$primary-font: 'Merienda',
cursive;
$secondary-font: 'Raleway',
sans-serif;

// Images
$header:"./assets/Header_idea.jpg";
$background:"./assets/Body_back_idea.jpg";
$koi:"/assets/Koi.png";

//Base Style
html {
	margin: auto;
	padding: 0;
}

body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    position: absolute;
}



//Gate
.extra1 {
	position: absolute;
	top: 10px;
	right: 1.65em;
	width: 96%;
	height: 90px;
	border: 1px solid darken($color-1, 5%);
	background: $color-1;
	border-radius: 10%;
}

.extra1::before {
	content: "";
	position: absolute;
	top: -15px;
	right: -1.65em;
	width: 1100%;
	height: 70px;
	background: black;
	z-index: 0;
}

.extra2 {
	position: fixed;
	top: 0;
	right: 4em;
	width: 60px;
	height: 100%;
	border: 1px solid darken($color-1, 5%);
	background: $color-1;
	z-index: -1;
}

.extra3 {
	position: fixed;
	top: -1px;
	left: 3em;
	width: 60px;
	height: 100%;
	border: 1px solid darken($color-1, 5%);
	background: $color-1;
	z-index: -1;
}
.extra4 {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 60px;
	background: $color-1;
	z-index: 0;
	
}

%grid {
	//Grid-reference
	display: grid;
	grid-template: repeat(4, 25%) / repeat(8, 12.5%);
	row-gap: 1%;
	column-gap: 0.5%;
}

.sidebar .wrapper {
	flex-direction: column;
}

.sidebar {
	top: 5%;

	.wrapper {
		width: 70%;
	}
}

.intro {
	@extend %grid;
	margin-top: 10%;
}

//Header Banner
header {
	grid-area: 1 / 1 / 4 / 8;
	padding-top: 20px;
	width: 100%;
}

header::before {
	content: "";
	background: url($header) no-repeat;
	background-size: contain;
	position: absolute;
	height: 30%;
	margin-top: -5%;
	width: 100%;
	z-index: -2;
	left: 0;
	opacity: 55%;
}

header h1 {
	position: absolute;
	color: lighten($color-2, 20%);
	font-size: 350%;
	font-family: $secondary-font;

	top: 2%;
	//border: 1px solid red;
}

header h2 {
	position: absolute;
	font-size: 130%;
	color: lighten($color-2, 20%);
	font-family: $secondary-font;

	top: 2.2%;
	left: 55%
}

.summary {
	grid-area: 1 / 1 / 3 / 8;
	width: 85%;
	margin-top: 60%;
	color: $color-2;
}

.summary p:nth-of-type(2){
	color: $color-2;
	//border: 1px solid red;
}

.preamble {
	opacity: 100;
	position: absolute;
	background:$color-5;
	padding: 1%;
	top: 14%;
	left: 50%;
	border: 1px solid $color-1;
	z-index: 2;
	h3, p{
		padding: 2%;
		display: none;
	}
}
.preamble:hover {
	h3, p{display: block;}
}



//Background
body::before {
	content: "";
	background: url($background) no-repeat bottom right;
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -4;
	opacity: 60%;
	top: 0;
}
body::after {
	content: "";
	background: url($koi) no-repeat;
	background-size:contain;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -3;
	opacity: 20%;
	top: 0;
	animation: spin 70s linear infinite;
}

 // swimming koi
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

p {
	margin-top: 0;
	text-align: justify;
	font: $secondary-font;
}

h3 {
	font: $primary-font;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: $color-5;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: $color-4;
}

abbr {
	border-bottom: none;
}


/* specific divs */
.page-wrapper {
	padding: 0 175px 0 110px;
	margin: 0;
	position: relative;
}

//Navigation
.sidebar {
	margin-left: 600px;
	position: absolute;
	top: 16.5%;
	right: 40em;
	width: 20%;
	height: 20px;
	background:$color-2;
	z-index: 2;
	border: 1px solid $color-5;
	cursor: pointer;
}
.sidebar::after {
	content: "Navigation";
	color: $color-5;
}
.sidebar .wrapper {
	display:none;
	font: 10px verdana, sans-serif;
	padding: 10px;
	width: 300px;
}
.sidebar:hover{
	.wrapper{
		display:block;
	}
}


.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	line-height: 1.3em;
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

.sidebar li a:link {
	color: $color-5;
}

.sidebar li a:hover {
	color: $color-4;
}


.design-selection {
	background: $color-2;
	color: $color-5;
	padding: 1em;
}

.design-archives {
	background: $color-2;
	color: $color-5;
	padding: 1.5em;
}

.zen-resources {
	background: $color-2;
	color: $color-5;
	padding: 1.5em;
}

footer {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-top: 50%;

	a {
		background: $color-3;
		padding: 2em;
		border-radius: 50%;
	}

	a:hover {
		color: $color-2;
	}
}

footer a:link,
footer a:visited {
	margin-right: 20px;
}

//Media Queries

@media only screen and (max-width: $sm-break) {

	header::before {
		height: 20%;
	}
	//Paragraphs
	.supporting {
		display: block;
		text-align: center;
		margin-top: 10em;
	}

	.explanation {
		padding-left: 10px;
		margin-bottom: 40px;
	}

	.participation {
		padding-left: 10px;
		margin-bottom: 40px;

		a {
			color: $color-2;
		}
	}

	.benefits {
		padding-left: 10px;
		margin-top: 80px;
	}

	.requirements {
		padding-left: 10px;

		a {
			color: $color-2;
		}
	}
}

@media only screen and (min-width: $big-break) {

	header::before {
		height: 30%;
	}
	.sidebar h3.select {
		margin: 10px 0 5px 0;
		width: 97px;
		height: 16px;
		padding: 1em;
	}

	.sidebar h3.archives {
		margin: 25px 0 5px 0;
		width: 57px;
		height: 14px;
		padding: 1em;
	}

	.sidebar h3.resources {
		margin: 25px 0 5px 0;
		width: 63px;
		height: 10px;
		padding: 1em;
	}


	//Paragraphs
	.supporting {
		display: grid;
		grid-template: repeat(6, 25%) / repeat(2, 50%);
		row-gap: .5em;
	}

	.explanation {
		grid-area: 1 / 1 / 2 / 2;
	}

	.participation {
		grid-area: 2 / 2 / 2 / 3;
	}

	.benefits {
		grid-area: 3 / 1 / 4 / 2;
	}

	.requirements {
		grid-area: 4 / 2 / 5 / 3;
	}

	footer {
		grid-area: 4 / 1 / 5 / 3;
		display:flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 70%;
		a {
			background: $color-3;
			padding: 2em;
			border-radius: 50%;
		}
	
		a:hover {
			color: $color-2;
		}
	}
}