@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Raleway&display=swap");
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes showmenu {
  from {
    display: none;
  }
  to {
    display: inline-block;
  }
}

@keyframes showmenu {
  from {
    display: none;
  }
  to {
    display: inline-block;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 75% georgia, sans-serif;
}

.page-wrapper {
  width: 70%;
  margin: auto;
  position: relative;
  top: 8vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

section {
  height: 400px;
  display: block;
  margin: 0 -8vw;
  padding: 13vw;
  background: url("./assets/Header.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}

header h1 {
  color: #5b5b5b;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

header h2 {
  position: absolute;
  font-size: 100%;
  color: #414141;
  font-family: "Raleway", sans-serif;
  top: 5%;
  left: 55%;
}

.extra1 {
  position: absolute;
  left: 1vmin;
  top: 0;
  z-index: 20;
  width: 95vw;
  height: 5vmin;
  background-color: #0e0e0e;
  border-radius: 1vmin 1vmin 10vmin 10vmin;
}

.extra2 {
  border-radius: 1vmin 1vmin 10vmin 10vmin;
  z-index: 15;
  position: absolute;
  background-color: #A53030;
  width: 92vw;
  height: 5vmin;
  top: 3vmin;
  left: 2vw;
}

.extra3, .extra4 {
  position: fixed;
  width: 7vmin;
  height: 100vh;
  background-color: #A53030;
  bottom: 0;
}

.extra3 {
  left: 6vw;
  z-index: -3;
}

.extra4 {
  right: 6.5vw;
  z-index: -3;
}

.extra5 {
  display: none;
  position: absolute;
  left: 1vmin;
  top: 20vw;
  z-index: 20;
  width: 95vw;
  height: 5vmin;
  background-color: #A53030;
  border-radius: 1vmin 1vmin 10vmin 10vmin;
}

.supporting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20vw;
}

section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 1;
  grid-row: 1;
}

aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 3;
  grid-row: 3;
}

.preamble {
  margin-top: 5vw;
}

.explanation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.participation {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 2 / 3;
}

.benefits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.requirements {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

header h1 {
  font-size: 350%;
}

header h2 {
  font-size: 130%;
}

.wrapper::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(https://img.icons8.com/ios-filled/50/ffffff/menu-squared-2.png);
  margin: 0 auto;
}

.wrapper div {
  display: none;
}

.wrapper:hover div {
  display: block;
}

.wrapper h3 {
  display: inline-block;
  color: #ffffff;
  text-align: center;
}

.wrapper {
  overflow: hidden;
  background-color: #A53030;
  color: white;
  margin-left: -13vw;
  margin-right: -13vw;
  z-index: 300;
  border-radius: 10vmin 10vmin 1vmin 1vmin;
  padding: 1rem;
}

.wrapper a {
  color: white;
  text-decoration: none;
}

.select::after, .archives::after, .resources::after {
  content: "   +";
}

.select:hover::after, .archives:hover::after, .resources:hover::after {
  content: "   -";
}

.resources + ul, nav {
  display: none;
  margin-top: -5vw;
}

h3:hover + nav, h3:hover + ul, nav:hover, ul:hover {
  display: block;
  opacity: 1;
}

nav, h3 + ul {
  background-color: #0e0e0e;
  padding: 1rem;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}

h3 + ul {
  padding: 2em;
}

body::before {
  content: "";
  background: url("./assets/Body_back_idea.jpg") no-repeat bottom right;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -8;
  opacity: 60%;
  top: 0;
}

body::after {
  content: "";
  background: url("./assets/Koi.png") no-repeat;
  background-size: contain;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -7;
  opacity: 20%;
  top: 0;
  -webkit-animation: spin 70s linear infinite;
          animation: spin 70s linear infinite;
}

p {
  margin-top: 0;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  position: relative;
  z-index: 1;
  font-size: 100%;
}

p a:link {
  font-weight: bold;
  text-decoration: none;
  color: #917050;
}

p a:hover,
p a:focus,
p a:active {
  text-decoration: underline;
  color: #797979;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #917050;
  position: relative;
  z-index: 1;
  font-size: 110%;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #797979;
}

footer {
  width: 100%;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 / 6 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer a {
  background: #917050;
  padding: 1em;
  border-radius: 20%;
}

footer a:hover {
  color: #0e0e0e;
}

@media only screen and (min-width: 575px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 10vw;
  }
  .wrapper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .wrapper::before {
    content: " ";
    display: none;
  }
  nav {
    margin-top: 0.01vw;
    padding-top: 2vw;
  }
  .supporting {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (25%)[6];
    -ms-grid-columns: (50%)[2];
        grid-template: repeat(6, 25%)/repeat(2, 50%);
    row-gap: .5em;
  }
  .zen-resources {
    text-align: right;
  }
  .resources + ul {
    margin-top: 0.01vw;
  }
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 200%;
  }
}
/*# sourceMappingURL=style.css.map */