@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Raleway&display=swap");
html {
  margin: auto;
  padding: 0;
}

body {
  font: 75% georgia, sans-serif;
  line-height: 1.88889;
  color: #555753;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  background: url("./assets/Body_back_idea.jpg") no-repeat bottom right;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 60%;
}

header::before {
  content: "";
  background: url("./assets/Header_idea.jpg") no-repeat bottom right;
  background-size: cover;
  position: absolute;
  height: 10%;
  width: 80%;
  z-index: -2;
  opacity: 75%;
}

p {
  margin-top: 0;
  text-align: justify;
  font: "Raleway", sans-serif;
}

h3 {
  font: "Merienda", cursive;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #7D775C;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #797979;
}

abbr {
  border-bottom: none;
}

/* specific divs */
.page-wrapper {
  padding: 0 175px 0 110px;
  margin: 0;
  position: relative;
}

.intro {
  min-width: 470px;
  width: 100%;
}

header h1 {
  margin-top: .5em;
  margin-left: 1em;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 350%;
}

header h2 {
  margin-bottom: 5em;
  width: 100%;
  height: 100%;
  color: #000000;
  text-indent: 45%;
  white-space: nowrap;
}

header {
  padding-top: 20px;
  height: 87px;
}

.summary {
  width: 40%;
  margin-top: 10em;
}

.summary p {
  font: "Raleway", sans-serif;
  text-align: left;
  color: #000000;
}

.preamble {
  margin-top: 28em;
}

.supporting {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-rows: (25%)[5];
  -ms-grid-columns: (50%)[2];
      grid-template: repeat(5, 25%)/repeat(2, 50%);
  row-gap: .5em;
  margin-top: 10em;
}

.explanation {
  padding-left: 10px;
  margin-bottom: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.participation {
  padding-left: 10px;
  margin-bottom: 40px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2 / 2 / 2;
}

.participation a {
  color: #000000;
}

.benefits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 4 / 1;
  padding-left: 10px;
  margin-top: 80px;
}

.requirements {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 4 / 2 / 5 / 2;
  padding-left: 10px;
}

.requirements a {
  color: #000000;
}

p[role="contentinfo"] {
  margin-top: 10%;
  text-align: center;
}

footer {
  text-align: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 6 / span 2;
  margin-top: 50%;
}

footer a {
  background: #917050;
  padding: 2em;
  border-radius: 50%;
}

footer a:hover {
  color: #000000;
}

footer a:link, footer a:visited {
  margin-right: 20px;
}

.sidebar {
  margin-left: 600px;
  position: absolute;
  top: 6.8%;
  right: 0;
  overflow: hidden;
  width: 90%;
}

.sidebar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font: 10px verdana, sans-serif;
  padding: 10px;
  margin-top: 150px;
  width: 130px;
}

.sidebar h3.select {
  margin: 10px 0 5px 0;
  width: 97px;
  height: 16px;
  padding: 1em;
}

.sidebar h3.archives {
  margin: 25px 0 5px 0;
  width: 57px;
  height: 14px;
  padding: 1em;
}

.sidebar h3.resources {
  margin: 25px 0 5px 0;
  width: 63px;
  height: 10px;
  padding: 1em;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  line-height: 1.3em;
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.sidebar li a:link {
  color: #ffffff;
}

.sidebar li a:hover {
  color: #797979;
}

.design-selection {
  margin-left: 20%;
  background: #000000;
  color: #ffffff;
  padding: 1em;
}

.design-archives {
  margin-left: 20%;
  background: #000000;
  color: #ffffff;
  padding: 1.5em;
}

.zen-resources {
  margin-left: 30%;
  background: #000000;
  color: #ffffff;
  padding: 1.5em;
}

.extra1 {
  position: absolute;
  top: 40px;
  right: 0;
  width: 148px;
  height: 110px;
}

@media (min-width: 20em) and (max-width: 50em) {
  .supporting {
    display: inline-block;
  }
  .sidebar .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    top: 5%;
  }
  .sidebar .wrapper {
    width: 70%;
  }
}

@media (min-width: 40em) {
  body {
    font-size: 70%;
  }
}

@media (min-width: 50em) {
  body {
    font-size: 80%;
  }
}

@media (min-width: 70em) {
  body {
    font-size: 100%;
  }
}
/*# sourceMappingURL=style.css.map */